.background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(299.48deg, #17072B 24.4%, #5A557C 57.12%);
  z-index: -1;
}

.title {
  text-align: center;
  width: 100%;
  font-size: 64px;
  color: #000000;
  font-family: 'Almendra','Georgia';
}